<md-content>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in tweets">
            <div class="md-list-item-text">
                <div>
                    <span class="pull-left"><h3 class="bolder-font" style="color: blue;">{{item.text | limitTo:45}}...</h3></span>
                    <span class="pull-right">{{item.created_at}}</span>
                </div>
                <div class="top-padding-news justify-text">@{{item.name | limitTo:30}}</div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>